
$colour-primary: #9356DC; 
$colour-secondary: #FF79DA; 
$colour-tertiary: #99E2D0;
$color-background-new: #99E2D0;
$color-background-selected: #F5EDFF;
$color-text-new: #008766;
$color-background: #F6F6F6;
$color-white: #fff;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

   body
  {
    font-family: roboto, sans serif;
    font-size: 1em;
    margin: auto;
  }
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  h2 
  {
    font-size: 1.3em;
    font-family: roboto, sans serif;
    font-weight: bold;
  }
  h3{
    font-size: 1.2em;
    font-family: roboto, sans serif;
  }
   a
   {
     text-decoration: none;
   }

   @mixin flex-center {
    display: flex;
   align-items: center;
   justify-content: center;
 }
 
 @mixin flex-column-center {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
  header
  {
   display: flex;
   justify-content: center;
  }
  .header__logo
  {
    padding: 20px;
    @include flex-center;
  }
 .left-icon
 {
   color: black;
   padding-top: 30px;
   margin-left:-60px;
   margin-right: 30px;
   font-size: 1.2em;
   position: relative;
 }
 
 .menu__img
 {
  object-fit: cover;
  min-width: 100%;
  height: 250px;
  border: 1px solid $color-background; 
 }
 
  .location
  {
    @include flex-center;
    background-color: #f3f3f3;
    padding: 10px 10% 10px 10%;
    width: 100%;
  }
  .location input
  {
    background-color: #f3f3f3;
    color: black;
    border: 0px;
    font-family: roboto, sans serif;
    font-size: 1em;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
  }

  .presentation
  {
    @include flex-column-center;
    background-color: #F6F6F6;
    width: 100%;
  }
  .presentation h1
  { 
    text-align: center;
    font-size: 1.4em;
    font-family: roboto, sans serif;
    margin: 30px 12% 0% 12%;
  
  }
  .presentation p  
  {
    text-align: center;
    margin: 20px 5% 20px 5%;
    font-size: 1.2em;
    font-family: roboto, sans serif;
    
  }
  

  .button-explorer
  {
   background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
   border-radius: 20px;
   color: $color-white;
   font-family: roboto, sans serif;
    font-size: 1em;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px #a1a1a1;
  }
  li
  {
    display: flex;

  }
   .process
   {
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     margin-left: 8%;
     margin-top: 40px;
    &__btn
   {
    background-color: $color-background;
    border: solid 1px $color-background;
    border-radius: 20px;
    padding: 25px 90px 25px 30px;
    font-family: roboto, sans serif;
    font-size: 1em;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px #a1a1a1;
   }
   &__number
   {
     color: $color-white;
     border: $colour-primary solid 1px;
     border-radius: 50%;
     background-color: $colour-primary;
     position: absolute;
     margin-left: -4%;
     margin-top: 40px;
     padding: 4px 8PX 4PX 8px;
     
   }
  }
  .process__btn span
  {
    margin-left: 20px;
  }
  #icone-resto
  {
    color: $colour-primary;
  }
  .resto 
  {
    width:100%;
    background: $color-background;
    margin-top: 60px;
    &__cards
    {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;
      padding-bottom: 60px;
    }
    &__item
    {
       border: $color-background solid 1px;
       border-radius: 20px;
       box-shadow: 0px 0px 10px 0px #a1a1a1;
       margin: 10px 5%;
       color: black;
       
    }
    &__contenu
    {
      padding: 15px;
    }
    &__new
    {
      position:absolute;
      margin-left:-25%;
      margin-top: 40px;
      color: $color-text-new;
      background: $color-background-new;
      border-radius: 2px;
      padding: 5px;
      border: 1px solid $color-background-new

    }
    }
    .resto__item img
    {
      object-fit: cover;
      min-width: 100%;
      border-radius:  20px 20px 0px 0px;
      height: 200px;
      border: 0px solid transparent;
    }
  
  .resto h2
  {
     padding-top: 50px;
     margin-left: 5%;
  }
  .resto__contenu-heart
  {
    display: flex;
    justify-content: space-between;
    
  }
 .heart-icon
 {
   font-size: 2em;
   padding-top: 15px;
   padding-right: 15px;
 }
  .menu
  {
    background: $color-background;
    border-radius: 30px 30px 0px 0px;
    border: solid 1px $color-background;
    &__title
    {
      display: flex;
      justify-content: space-between;
      margin-left: 15px;
      margin-top: 20px;
    }
    &__heart-icon
    {
      font-size: 1.3em;
      font-weight: normal;
      margin-right: 40px;
      margin-top: 5px;
    }
  }
  .menu__title h1
  {
    font-family: Shrikhand;
    font-size: 1.6em;
  }
  .menu h2
  {
    font-size: 1em;
    margin-top: 30px;
    border-bottom: 3px solid $colour-tertiary;
    padding: 0px 0PX 2px 0px;
    margin-left: 15px;
    margin-right: 325px;

  }
  .food 
  {
     background-color: $color-white;
     border-radius: 20px;
     margin: 15px;
     &__contenu
     {
       display: flex;
       justify-content: space-between;
       padding: 0px 10px 10px 10px;
       font-size: 1em;
       font-family:roboto, sans serif;
     }
  }
  .food h3
  {
    padding: 10px 10px 0px 10px;
    font-size: 1em;
    font-weight: bold;
  }
 





  .footer
  {
   background-color: rgb(58, 57, 57);
   border: solid rgb(58, 57, 57)  1px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 30px;
   color: $color-white;
  
  &__logo
  { 
    font-family: Shrikhand;
    color: $color-white;
    font-size: 0.8em;
    padding-top: 15px;
  
  }
  &__resto
  {
    display: flex;
    color: $color-white;
    font-size: 1em;
    margin-top: 15px;
  }
  &__hands
  {
    display: flex;
    color: $color-white;
    font-size: 1em;
    margin-top:15px
  }
  &__contenu
  {
    color: $color-white;
    font-size: 1em;
    margin-top: 15px;
  }
  &__contact
  {
    color: $color-white;
    font-size: 1em;
    padding-bottom: 50px;
    margin-top: 15px;
  }
  }
  .footer p
  {
    margin-left: 15px;
  }
  .footer__hands i
  {
    font-size: 0.8em;
  }
  
  



    
