

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
 
    body
   {
     font-family: roboto, sans serif;
     font-size: 1em;
     
     
   }
   ul {
     list-style: none;
   }
   
   img {
     max-width: 100%;
   }
   h2 
   {
     font-size: 1.3em;
     font-family: roboto, sans serif;
     font-weight: bold;
   }
   h3{
     font-size: 1.2em;
     font-family: roboto, sans serif;
   }
    a
    {
      text-decoration: none;
    }
    :hover a
    {
      cursor: pointer;
    }