$colour-primary:#9356DC; 
$colour-secondary: #FF79DA; 
$colour-tertiary: #99E2D0;
$color-background-new: #99E2D0;
$color-background-selected: #F5EDFF;
$color-text-new: #008766;
$color-background: #F6F6F6;
$color-white: #fff;